# Environment
.env
labelStudioVenv/

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log
logs/
label-studio-ml-backend/label_studio_ml/examples/yolov11-plate/debug/*

# Checkpoints / models 
*checkpoints/*
!*checkpoints/*.pt

# YOLO models (pretrained weights)
label-studio-ml-backend/label_studio_ml/examples/yolov11/models/*

# Temp
*.tmp
*.temp
*.bak

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Label Studio
config.json

# Continue
.continue/

# Others
*.png
*.jpg
*.jpeg
*.pt
*.onnx